.container_img_footer{

    width: 100%;
    
    display: flex;
    
    justify-content: center;
    }
    .img_footer{
    
    width: 60%;
    
    margin-top: 32px;
    }
    .img_footer img{
        
    width: 100%;
    }