.container_themenu {
  width: 100%;

  display: flex;

  justify-content: center;
}
.themenu {
  width: 60%;
}
.themenu_tilte {
  display: flex;
  justify-content: center;
  margin: 58px 0;
}
.themenu_tilte h5 {
  font-size: 18px;
  padding: 0 8px;
  background-color: black;
  color: white;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.themenu_listitem {
}
.themenu_list_top {
display: flex;
text-align: center;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
padding: 8px 16px;
}
.eat {
width: 50%;
}
.list_eat {
}
.listeat_item {padding-bottom: 18.4px;}
.drink {
width: 50%;
}
.drink p {
}
.eat p {
}
.listeat_item h5 {font-family: "Segoe UI",Arial,sans-serif;font-weight: 400;font-size: 18px;margin: 10px 0;}
.listeat_item p {color: #757575;font-size: 18px;margin: 18px 0;}
.themenu_list_bottom{
  
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  
padding: 48px 16px;
}
