.container_wheretofindus {
  display: flex;

  width: 100%;

  justify-content: center;
}
.wheretofindus {
  width: 60%;
}
.tilte {
}
.tilte p {
  font-size: 18px;
  margin: 18px 0;
}
.img {
  width: 100%;
}
.img img {
  width: 100%;
}
.img p {
  font-size: 18px;
  margin: 18px 0;
}
.img span {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.input {
  display: flex;
  flex-direction: column;
}
.input input {
  padding: 16px 8px;
  margin-bottom: 20px;
}
.input p {
  margin: 18px 0;
  font-size: 18px;
}
.input button {
  width: 138px;
  padding: 12px 15px;
  border: 0;
  background-color: black;
  color: white;
  /* overflow-y: hidden; */
  font-size: 18px;
  font-weight: 500;
}
.input b {
}
.h5 span {
  padding: 0 8px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  font-weight: 400;
}
.h5 {
  padding: 48px 0px;

  margin: 10px 0;

  text-align: center;
}
.input button:hover {
  background-color: #ccc;

  color: black;
}
